@import url("https://fonts.blue-archive.io/harmonyos-sans-webfont/harmonyos-sans-sc-400.css");
@import url("https://fonts.blue-archive.io/harmonyos-sans-webfont/harmonyos-sans-sc-700.css");

:root {
  --color-furina-blue-6: #5a56bf;
  --color-furina-blue-5: #756fcc;
  --color-furina-blue-7: #3737a2;
  --color-furina-blue-4: #9189d9;
  --color-furina-blue-3: #afa7e5;
  --color-furina-blue-2: #cdc6f2;
  --color-furina-blue-1: #ede8ff;

  --color-border-4: #a0a0a0;
  --color-border-3: #b3b3b3;
  --color-border-2: #ececec;
  --color-border-1: #f2f2f2;
  --color-fill-5: #616161;
  --color-fill-4: #818181;
  --color-fill-3: #c0c0c0;
  --color-fill-2: #dfdfdf;
  --color-fill-1: #f2f2f2;
  --color-fill-base: #ffffff;
  --color-text-5: #242424;
  --color-text-4: #505050;
  --color-text-3: #7c7c7c;
  --color-text-2: #bdbdbd;
  --color-text-1: #ffffff;

  --color-success-6: #6dc425;
  --color-success-5: #88d045;
  --color-success-7: #53a618;
  --color-success-3: #c0e790;
  --color-success-2: #dbf3ba;
  --color-success-1: #f6ffe8;

  --color-danger-6: #e9583b;
  --color-danger-5: #ed795b;
  --color-danger-7: #c23a25;
  --color-danger-3: #f6b79f;
  --color-danger-2: #fbd4c3;
  --color-danger-1: #fff0e8;

  --color-warning-6: #ff7d00;
  --color-warning-5: #ff9a2e;
  --color-warning-7: #d25f00;
  --color-warning-3: #ffcf8b;
  --color-warning-2: #ffe4ba;
  --color-warning-1: #fff7e8;
}

html.dark {
  --color-furina-blue-6: #807acc;
  --color-furina-blue-5: #5e5abf;
  --color-furina-blue-7: #9b94d9;
  --color-furina-blue-4: #3737a2;
  --color-furina-blue-3: #1c2086;
  --color-furina-blue-2: #080f69;
  --color-furina-blue-1: #00084d;

  --color-success-6: #8ed051;
  --color-success-5: #7ac43d;
  --color-success-7: #aadc74;
  --color-success-3: #408814;
  --color-success-2: #296a07;
  --color-success-1: #184d00;
  --color-warning-6: #ff9626;
  --color-warning-5: #ff8d1f;
  --color-warning-7: #ffb357;
  --color-warning-3: #a64b0a;
  --color-warning-2: #793004;
  --color-warning-1: #4d1b00;
  --color-danger-6: #ed7d60;
  --color-danger-5: #e96449;
  --color-danger-7: #f29b81;
  --color-danger-3: #9b2215;
  --color-danger-2: #740d05;
  --color-danger-1: #4d0300;
  --color-border-4: #6b6b6b;
  --color-border-3: #575757;
  --color-border-2: #474749;
  --color-border-1: #37373a;
  --color-fill-5: #a3a3a5;
  --color-fill-4: #828284;
  --color-fill-3: #474749;
  --color-fill-2: #414144;
  --color-fill-1: #37373a;
  --color-text-5: #ffffff;
  --color-fill-base: #242424;
  --color-text-4: #b8b8b8;
  --color-text-3: #8c8c8c;
  --color-text-2: #4d4d4d;
  --color-text-1: #1c1c1e;
}

@font-face {
  src: url("https://fonts.blue-archive.io/WixMadeforText-VariableFont_wght.ttf")
    format("truetype");
  font-family: "Wix Madefor Text";
  font-display: swap;
}

@font-face {
  src: url("https://fonts.blue-archive.io/WixMadeforDisplay-VariableFont_wght.ttf")
    format("truetype");
  font-family: "Wix Madefor Display";
  font-display: swap;
}

body {
  font-size: 16px !important;
  line-height: 24px;
  font-family: var(--vp-font-family-base) !important;
}

.vp-doc {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .title {
    font-weight: 700;
    font-family: "Wix Madefor Display", var(--vp-font-family-base);
  }

  table {
    display: table;
    width: 100%;

    td {
      line-height: 22px;
    }

    th {
      &.arco-table-th {
        border: none;
      }
    }

    th,
    td {
      border: inherit;
    }
  }
}

:root {
  --vp-font-family-base: "Wix Madefor Text", "HarmonyOS Sans SC",
    "Microsoft YaHei", "PingFang SC", -apple-system, system-ui, "Segoe UI",
    Roboto, Ubuntu, Cantarell, "Noto Sans", BlinkMacSystemFont, "Helvetica Neue",
    "Hiragino Sans GB", Arial, sans-serif;
  --vp-font-family-mono: "SFMono-Regular", "Consolas", "Liberation Mono",
    "Menlo", "Courier", "monospace";
}

.vp-doc tr:nth-child(2n) {
  background-color: inherit;
}

.vp-doc tr {
  &:hover {
    background-color: var(--vp-c-bg-soft);
  }
}
/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * Colors
 *
 * Each colors have exact same color scale system with 3 levels of solid
 * colors with different brightness, and 1 soft color.
 * 
 * - `XXX-1`: The most solid color used mainly for colored text. It must
 *   satisfy the contrast ratio against when used on top of `XXX-soft`.
 *
 * - `XXX-2`: The color used mainly for hover state of the button.
 *
 * - `XXX-3`: The color for solid background, such as bg color of the button.
 *   It must satisfy the contrast ratio with pure white (#ffffff) text on
 *   top of it.
 *
 * - `XXX-soft`: The color used for subtle background such as custom container
 *   or badges. It must satisfy the contrast ratio when putting `XXX-1` colors
 *   on top of it.
 *
 *   The soft color must be semi transparent alpha channel. This is crucial
 *   because it allows adding multiple "soft" colors on top of each other
 *   to create a accent, such as when having inline code block inside
 *   custom containers.
 *
 * - `default`: The color used purely for subtle indication without any
 *   special meanings attched to it such as bg color for menu hover state.
 *
 * - `brand`: Used for primary brand colors, such as link text, button with
 *   brand theme, etc.
 *
 * - `tip`: Used to indicate useful information. The default theme uses the
 *   brand color for this by default.
 *
 * - `warning`: Used to indicate warning to the users. Used in custom
 *   container, badges, etc.
 *
 * - `danger`: Used to show error, or dangerous message to the users. Used
 *   in custom container, badges, etc.
 * -------------------------------------------------------------------------- */

:root {
  //   --vp-c-default-1: var(--color-text-5); /* default text color */
  //   --vp-c-default-2: var(--color-fill-5); /* hover state */
  //   --vp-c-default-3: var(--color-fill-2); /* solid bg */
  //   --vp-c-default-soft: var(--color-fill-1); /* soft bg */

  --vp-c-brand-1: var(--color-furina-blue-6); /* main brand color */
  --vp-c-brand-2: var(--color-furina-blue-5); /* hover state, link */
  --vp-c-brand-3: var(--color-furina-blue-6); /* solid bg */
  --vp-c-brand-soft: var(--color-furina-blue-1); /* soft bg */

  --vp-c-tip-1: var(--vp-c-brand-1);
  --vp-c-tip-2: var(--vp-c-brand-2);
  --vp-c-tip-3: var(--vp-c-brand-3);
  --vp-c-tip-soft: var(--vp-c-brand-soft);

  --vp-c-warning-1: var(--color-warning-6);
  --vp-c-warning-2: var(--color-warning-5);
  --vp-c-warning-3: var(--color-warning-6);
  --vp-c-warning-soft: var(--color-warning-1);

  --vp-c-danger-1: var(--color-danger-6);
  --vp-c-danger-2: var(--color-danger-5);
  --vp-c-danger-3: var(--color-danger-6);
  --vp-c-danger-soft: var(--color-danger-1);

  --vp-c-text-1: var(--color-text-5);
  --vp-c-text-2: var(--color-text-4);
  --vp-c-text-3: var(--color-text-3);
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: transparent;
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand-3);
  --vp-button-brand-hover-border: transparent;
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-2);
  --vp-button-brand-active-border: transparent;
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-c-brand-1);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #2773e1 30%,
    #4a91e7
  );

  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #2773e1 50%,
    #4a91e7 50%
  );
  --vp-home-hero-image-filter: blur(40px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(72px);
  }
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
  --vp-custom-block-tip-border: transparent;
  --vp-custom-block-tip-text: var(--vp-c-text-1);
  --vp-custom-block-tip-bg: var(--vp-c-brand-soft);
  --vp-custom-block-tip-code-bg: var(--vp-c-brand-soft);
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand-1) !important;
}
